@{
    ViewBag.Title = "Contact";
}
<div class="body">
    <div class="content">
       <br> <h3 style="margin-bottom: 10px;">Как нас найти?</h3>
        <p style="margin-bottom: 5px;">Мы расположены в <strong>Минске</strong> по адресу:</p>
        <p style="margin-bottom: 15px;">ул. Карла Маркса, 25, к.1, оф. 26 (станция метро Октябрьская)</p>
        <h3>С нами связаться можно по телефону:</h3>
        <p>+375 29 5387109  МТС</p><br>
        <img src="~/Images/Map.jpg" style="width: 620px; height: 420px;">

        </div>
</div>