@{
    ViewBag.Title = "Главная страница";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />

        <h1 align="center">Продажа компьютерной техники</h1>

<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">О нас</div>
                <div class="panel-body">
                    МойКомпьютер - это интернет-магазин, занимающийся продажей компьютерной техники. В наличии имеется вся компьютерная техника, начиная от компьютеров и заканчивая внешними носителями, принтерами, сетевыми устройстами и т.д. Ваш заказ обработается мгновенно, и уже сегодня Вы можете стать обладателем нашей продукции, если закажете наш продукт! С удовольствием ждем Вас в нашем интернет-магазине. Приятных Вам покупок.
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <img src="~/Images/Logotip.jpg" style="width: 260px; height: 160px;">
        </div>
    </div>
    @*"МойКомпьютер" - это интернет-магазин, занимающийся продажей компьютерной техники. В наличии имеется вся компьютерная техника, начиная от компьютеров и заканчивая внешними носителями, принтерами, сетевыми устройстами и т.д. Ваш заказ обработается мгновенно, и уже сегодня Вы можете стать обладателем нашей продукции, если закажете наш продукт! С удовольствием ждем Вас в нашем интернет-магазине. Приятных Вам покупок.*@
</div>




<div class="page-header">
    <h2><p align="center">Предлагаемая компьютерная техника</p></h2>
</div>

<center>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <img src="~/Images/PC.jpg" style="width: 180px; height: 160px;">
                <h3>Персональные компьютеры</h3>
            </div>
            <div class="col-lg-4">
                <img src="~/Images/Notebook.jpg" style="width: 180px; height: 160px;">
                <h3>Ноутбуки</h3>
            </div>
            <div class="col-lg-4">
                <img src="~/Images/Monitor.jpg" style="width: 180px; height: 160px;">
                <h3>Мониторы</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <img src="~/Images/Printer.jpg" style="width: 180px; height: 160px;">
                <h3 align="center">Принтеры</h3>
            </div>

            <div class="col-lg-4">
                <img src="~/Images/Multimedia.jpg" style="width: 180px; height: 160px;">
                <h3 align="center">Мультимедиа</h3>
            </div>

            <div class="col-lg-4">
                <img src="~/Images/Periferiya.jpg" style="width: 180px; height: 160px;">
                <h3 align="center">Периферия</h3>
            </div>

        </div>
    </div>
</center>