@{
    ViewBag.Title = "Главная страница";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<div class="row">
    <div class="col-lg-6">
        <h3>Распродажа компьютерной техники</h3>
    </div>
</div>
